html {
    background-image: url('https://images.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (min-width:480px) {
    #overlay {
        display: flex;
        flex-direction: column;
    }

    nav {
        height: auto;
    }

    footer {
        height: auto;
    }

    .food {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }

    #out {
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    html {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    /* #gallary img{ */
        /* width: 100px; */
        /* height: 100px; */
        /* border-radius: 50%; */
        /* overflow: hidden; */
       
    /* } */
    

}

i {
    padding: 10px;
    margin-left: 100px;
    display: flex;
    justify-content: space space-around;
}

i:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: brown;
    color: rgba(12, 12, 9, 0.7);
}

.container {
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1%;
    margin-right: 1%;
}

.f {
    color: black;
    text-shadow: 2px 2px 4px gray;
    position: sticky;
}

#overlay {
    left: 0;
    right: 0;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1%;

}

#overlay ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#overlay ul li{
    overflow: hidden;
    width: 500px;
    padding: 1%;
}

#overlay img{
    width: 400px;
    height: 300px;
}
#gallary ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#gallary ul li{
    overflow: hidden;
    width: 400px;
    padding: 1%;
    
}
/* #ben{ */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */


#gallary img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}
#gallary{
    height: auto;
    /* width: 450px; */
    display: flex;
    flex-wrap: wrap;
    margin-left:0%;
    justify-content: space-between;
    /* margin-left: 30%; */
}

nav {
    width: 100%;
    justify-content: space-around;
    display: flex;
    position: relative;
    margin-top: 0%;
}
.f{
    text-align: center;
}

nav ul {
    text-align: right;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 2;
    padding-left: 20px 0;
    color: white;
    top: 0%;
    justify-content: space-between;
}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: brown;
    color: rgba(12, 12, 9, 0.7);
}

#float {
    margin-left: 0px;
    height: 100px;
    margin-top: 0%;
}

#para {
    color: black;
    text-align: center;
}

.food {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: -300px;
    z-index: -1;
}

#first {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: brown;
    border-radius: 6%;
    text-align: center;
}

#second {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: brown;
    border-radius: 6%;
    text-align: center;
}

#third {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: brown;
    border-radius: 6%;
    text-align: center;
}

#fourth {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: blue;
    border-radius: 6%;
    text-align: center;
    overflow: hidden;
}

#fifth {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: blue;
    border-radius: 6%;
    text-align: center;
    overflow: hidden;

}

.a {
    color: black;
    background-color: brown;
    margin-right: 1px;
    padding: 5px;

}

#out {
    text-align: center;
    font-size: 32px;
    color: black;
}

h1,
h2,
h3,
h4 {
    color: black;
}


#first:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: rgb(65, 187, 106);
    color: rgba(12, 12, 9, 0.7);
    background-size: contain;
    margin: 1%;
}
#second:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: rgb(65, 187, 106);
    color: rgba(12, 12, 9, 0.7);
    background-size: contain;
    margin: 1%;
}
#third:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: rgb(65, 187, 106);
    color: rgba(12, 12, 9, 0.7);
    background-size: contain;
    margin: 1%;
}

.ftg {
    width: 45%;
    height: 90px;
    margin-left: 25%;
    position: sticky;
    top: 1%;
    z-index: -1;

}

footer {
    background-color: brown;
    width: 100%
}

#yuo {
    text-align: center;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: brown;
    border-radius: 6%;
    margin: 3%;
    color: black;
    list-style: none;

}

#k {
    font-size: 30px;
    color: black;
    text-align: center;
    background-color: aqua;
}

#yuo :hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: rgb(65, 145, 55);
    color: rgba(12, 12, 9, 0.7);
}

.log-in {
    width: 400px;
    box-shadow: 0px 3px 3px 3px grey;
    background-color: brown;
    padding: 20px;
    margin: -3% auto 0;
    text-align: center;
    border-radius: 12%;
    overflow: hidden;
}

.log-in>h1 {
    color: black;
    margin-bottom: 30px;

}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid black;
    outline: black;
}

button {
    color: rgb(22, 21, 21);
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

.sign-in-button {
    background-color: aqua;

}

.twitter-btn {
    background-color: aqua;
}
#f{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
