html {
  background-image: url('https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
  z-index: -1;
}

.js {
  padding-left: 10px 0;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  display: flex;
  justify-content: space-around;
  width: 1800px;
  background-color: rgb(163, 130, 23);
  background-size: cover;
}

.js ul {
  text-align: right;
}

.js ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  padding-right: 50px;
}

.js>ul>li>a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
}

.js>ul>li>a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(35, 221, 81, 0.678);
  color: rgba(164, 13, 235, 0.7);
}

body {
  padding: 10px;
  color: green;
}

h1,
h2,
h3 {
  color: black;
}

p {
  font-size: 20px;
  text-decoration: none;
}

.img {
  box-shadow: 2px 2px 2px 3px grey;
  width: 500px;
  height: 500px;
  margin-left: 20%;
  border-radius: 10%;
  overflow: hidden;
}

.ding {
  box-shadow: 2px 2px 2px 3px grey;
  width: 500px;
  height: 500px;
  margin-left: 20%;
  border-radius: 10%;
  overflow: hidden;
}

/* .content{
      display: flex;
      flex-direction: row;
      justify-content: space-beteen;
  }
  #first{
background-color: blueviolet;
background-size: cover;
  }
  #second{
    background-color: rgb(226, 43, 73);
    background-size: cover;
  }
  #third{
    background-color: rgba(226, 168, 43, 0.801);
    background-size: cover;
  }*/
table,
tr,
td,
th {
  padding: 10px;
}

#gt {
  margin-left: 1px;
}

.bingo {
  margin-left: 350px;
  margin-right: 100px;
  display: inline-block;
  align-self: center;
  text-align: center;
  margin-top: 200px;
  padding: 10px;
  position: sticky;
  top: 6%;
  z-index: -1;
}

#first {
  background-color: brown;
  border-radius: 6%;
  text-align: center;
  overflow: hidden;
  margin-right: 2%;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#second {
  background-color: brown;
  border-radius: 6%;
  text-align: center;
  overflow: hidden;
  margin-right: 2%;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-content: center;

}

#get {
  display: flex;
  flex-direction: row;
  position: relative;
}

#get :hover {
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
  background: white;
  color: rgba(12, 12, 9, 0.7);
}

#third :hover {
  box-shadow: 0 0 10px rgba(221, 197, 197, 0.1), inset 0 0 1px rgba(194, 106, 106, 0.6);
  background: yellow;
  color: rgba(12, 12, 9, 0.7);
}

.ping {
  padding-left: 10px 0;
  margin-right: 0%;
  display: flex;
  justify-content: space-around;
  width: 1800px;
  position: sticky;
  background-size: cover;
  top: -2%;

}

.ping ul {
  text-align: right;
  padding-right: 50px;
}

.ping ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.ping>ul>li>a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
}

.ping>ul>li>a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(221, 35, 128, 0.678);
  color: rgba(0, 35, 122, 0.7);
}

p {
  color: black;
  text-shadow: 3px 3px 4px gray;
  font-size: 22px;
}

table {
  text-align: center;
  color: black;
  margin-left: 38%;
}

#gr {
  height: 300px;
  width: 300px;
}

#third {
  text-align: center;
  background-color: brown;
  border-radius: 50%;
  overflow: hidden;
  padding-left: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;

}

button {
  background-color: rgba(236, 54, 22, 0.808);
  color: black;
  background-origin: 5px solid white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

h1,
h2,
h3 {
  text-shadow: 4px 4px 5px grey;
  box-shadow: 4px 4px 6px whitesmoke;
  display: inline-block;
  color: black;
}

.bingo p {
  font-size: 30px;
  color: blanchedalmond;
}

.content {
  margin-top: 1%;
}
.a {
  color: black;
  background-color: rgb(33, 24, 151);
  margin-right:99%;
  padding: 5px;

}